*{
    box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: "DIN Next LT Pro Bold", sans-serif;
	background-image: url(valo4.jpg);
	background-color: #0a0e13;
	background-position: 0px -10px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a{
    color:#FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
table a:hover {
	color: black;
}
h1{
    font-size:16px;
    font-weight: bolder;
}

.search-box{
    border: solid 1px #53212B;
    margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
    padding: 40px;
    display:flex;
	background: linear-gradient(#BD3944, #53212B);
    justify-content: center;
    box-shadow:1px 2px 3px #BD3944;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color:#fff;
    color:#000000;
}

.search-box button:hover{
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}
#txtHint {
	margin: 20px;
}
table {
	width: 100%;
	text-align: center;
	color: white;
}
table tr{
	background:linear-gradient(#53212B, #BD3944);
	border: 1px solid black;
}
table tr th{
	background: linear-gradient(#BD3944, #53212B);
}

table tr td,th {
	padding: 20px;
}

.hide {
	display: none;
}

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}