    :root{
      --bgColor: #000000;
      --formColor: linear-gradient(#BD3944, #53212B);
      --txtColor: #ffffff;
      --txtSecondaryColor: #ffff00;
      --inputBoxBg : transparent;
      --txtBtnColor: #000000;
      --txtBtnSecondaryColor: #000000;
      --btnBorderColor: #ffffff;
      --btnBgColor: transparent;
      --btnBgSecondaryColor: #ffffff;
    }
    body {
		margin:0;
		padding:0;
		font-family: sans-serif;
		background: url(Wallpaperlogin.jpg);
		background-color: #0a0e13;
		background-repeat: no-repeat;
		background-size: 160%;
    }

    .login-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      padding: 40px;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 10px;
      background: var(--formColor);
    }

    .login-box h2 {
      margin: 0 0 30px;
      padding: 0;
      color: var(--txtColor);
      text-align: center;
    }

    .login-box .input-group {
      position: relative;
    }

    .login-box .input-group input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: var(--txtColor);
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: var(--inputBoxBg);
    }
    .login-box .input-group label {
      position: absolute;
      top:0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: var(--txtColor);
      pointer-events: none;
      transition: .5s;
    }

    .login-box .input-group input:focus ~ label,
    .login-box .input-group input:valid ~ label {
		top: -20px;
		left: 0;
		color: var(--txtSecondaryColor);
		font-size: 12px;
    }

    .login-box form button {
		position: relative;
		display: inline-block;
		padding: 10px 20px;
		color: var(--txtBtnColor);
		font-size: 16px;
		text-decoration: none;
		text-transform: uppercase;
		overflow: hidden;
		transition: .5s;
		margin-top: 40px;
		letter-spacing: 4px;
    }

    .login-box button:hover {
      background: var(--btnBgSecondaryColor);
      color: var(--txtBtnSecondaryColor);
      box-shadow: 0 0 5px var(--btnBgSecondaryColor),
                  0 0 25px var(--btnBgSecondaryColor),
                  0 0 50px var(--btnBgSecondaryColor),
                  0 0 100px var(--btnBgSecondaryColor);
    }

	.login-box p {
		color: #ffffff;
		text-decoration: none;
		font-size: 16px;
		font-weight: 500;
	}
	.login-box p a {
		text-decoration: none;
		color: blue;
	}
	
	@media screen and (max-width: 1100px) {
		body {
			background-size: 200%;
			background-position: -150px 0;
		}	
	}
	
	@media screen and (max-width: 900px) {
		body {
			background-size: 360%;
			background-position: -800px 0;
		}	
	}
	